{% extends "base.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Lista de Usuarios</h2>
        {% if usuarios %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id_usuario</th>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.mail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No hay usuarios registrados.</p>
        {% endif %}
    </div>
{% endblock %}
